.star-rating__checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.star-rating__star {
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
  line-height: 1;
  font-size: 350%;
  position: relative;
  color: #ababab;
  transition: color 1.0s ease-out;
}
.star-rating__star:hover {
  cursor: pointer;
}
.star-rating__is-selected{
  color: #ffd700;
}
.star-rating__is-disabled:hover {
  cursor: default;
}